@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}

body {
    background-color: rgb(33, 31, 33);
    -webkit-user-select: none;
}

h1 {
    color: rgb(234, 165, 70);
    font-family: 'Bebas Neue';
    font-size: 42px
}

p {
    color: whitesmoke;
    font-family: 'Bebas Neue';
    font-size: 18px;
}

div.container{
    border: 2px solid lightgray;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

p.field {
    color: rgb(70, 165, 200); 
    outline-style: groove; 
    outline-color: dimgray; 
    background-color: black; 
    padding: 8px; 
    font-size: 16px; 
    -webkit-user-select: text;
}

ul {
    color: rgb(70, 165, 200);
    outline-style: groove; 
    outline-color: dimgray; 
    padding: 8px;
    background-color: black;
}

li {
    color: rgb(70, 165, 200);
    font-family: 'Bebas Neue';
    font-size: 16px;
    list-style-type: square;
    list-style-position: inside;
}

button {
    background-color: black;
    color: whitesmoke;
    font-family: 'Bebas Neue';
    font-size: 20px;
    width: 160;
    height: 30;
    margin-top: 5px;
    display: inline-block;
}

button:disabled,
button[disabled]{
    background-color: darkgray;
    color: whitesmoke;
    font-family: 'Bebas Neue';
}